@use 'src/styles/utils' as utils;

.button {
  display: inline-block;
  padding: utils.pxToRem(12px) utils.pxToRem(24px);
  font-size: utils.pxToRem(16px);
  font-weight: medium;
  text-align: center;
  border-radius: utils.pxToRem(30px);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  border: none;
  outline: none;

  &--primary {
    background-color: black;
    color: white;
    border: none;

    &:hover {
      background-color: #333;
    }
  }

  &--secondary {
    background-color: white;
    color: black;
    border: utils.pxToRem(1px) solid rgba(0, 0, 0, 0.151);
    font-weight: medium;
    font-size: utils.pxToRem(16px);
    margin: 0 auto;
    &:hover {
      background-color: black;
      color: white;
    }
  }

  &--tertiary {
    background-color: #F0F0F0;
    color: black;
    border: none;
    font-weight: medium;
    font-size: utils.pxToRem(16px);
    margin: 0 auto;
    &:hover {
      background-color: black;
      color: white;
    }
  }
  &--outline {
    background-color: transparent;
    color: black;
    border: utils.pxToRem(1px) solid black;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  &--text {
    background-color: transparent;
    color: black;
    border: none;
    text-decoration: underline;

    &:hover {
      color: #333;
    }
  }

  &--extra-small {
    width: utils.pxToRem(80px);
    height: utils.pxToRem(30px);
  }

  &--zero{
    margin: 0;
  }
  
  &--extra-small-product {
    min-width: utils.pxToRem(86px);
    height: utils.pxToRem(46px);
    text-wrap-mode: nowrap;
  }

  &--small {
    width: utils.pxToRem(120px);
    height: utils.pxToRem(40px);
  }

  &--medium {
    width: utils.pxToRem(210px);
    height: utils.pxToRem(52px);
  }

  &--large {
    width: utils.pxToRem(210px);
    height: utils.pxToRem(60px);
  }

  &--extra-large {
    width: utils.pxToRem(400px);
    height: utils.pxToRem(52px);
    
    @include utils.media-ltlg(){
      width: utils.pxToRem(236px);
      height: utils.pxToRem(44px);
    }

    @include utils.media-xs(){
      width: utils.pxToRem(160px);
    }
  }
}
