@use "src/styles/utils" as utils;

.container {
  padding: utils.pxToRem(32px) 0;
  @include utils.container();
  &__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include utils.media-ltlg() {
      flex-direction: column;
    }
  }

  .tabContent {
    opacity: 0;
    transform: translateY(utils.pxToRem(10px));
    transition: opacity 0.3s ease, transform 0.3s ease;

    &.animate {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
