@use 'src/styles/utils' as utils;

.arrow {
  background: none;
  border: none;
  font-size: utils.pxToRem(32px);
  cursor: pointer;
  margin-right: utils.pxToRem(10px);
  transition: opacity 0.3s ease;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    opacity: 0.7;
  }

  &__size {
    width: utils.pxToRem(24px);
    height: utils.pxToRem(24px);
  }
}