@use "src/styles/utils" as utils;

.product {
  padding: utils.pxToRem(20px);

  &__title {
    font-size: utils.pxToRem(40px);
    font-weight: bold;
  }

  &__description {
    margin-bottom: utils.pxToRem(20px);
    color: #666;
  }

  &__addToCart {
    display: flex;
    gap: utils.pxToRem(20px);
    align-items: center;
  }
}
