@use "src/styles/utils" as utils;

.product {
  padding: utils.pxToRem(20px);

  @include utils.media-ltlg(){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
  }

  &__title {
    font-size: utils.pxToRem(40px);
    font-weight: bold;
  }

  &__description {
    margin-bottom: utils.pxToRem(20px);
    color: #666;
  }

  &__addToCart {
    display: flex;
    gap: utils.pxToRem(20px);
    align-items: center;

    @include utils.media-xs(){
      gap: utils.pxToRem(10px);
    }
  }
}
