@use 'src/styles/utils' as utils;

.product {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: utils.pxToRem(32px);


  &__name {
    font-size: utils.pxToRem(20px);
  }
  &__image {
    object-fit: cover;
    border-radius: utils.pxToRem(8px);

    @include utils.media-sm(){
    width: utils.pxToRem(240px);
    height: utils.pxToRem(240px);
    }

    @include utils.media-xs(){
    width: utils.pxToRem(340px);
    height: utils.pxToRem(340px);
    }
  }

  &__info {
    margin-top: utils.pxToRem(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
}
