@use 'src/styles/utils' as utils;


.hero{
    position: relative;
    background-color: #f2f0f1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__article {
        @include utils.container();
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        &_title {
            font-size: utils.pxToRem(64px);
            max-width: utils.pxToRem(600px);
            font-weight: bold;
            line-height: 60px;
        }

        &_paragraph {
            font-size: utils.pxToRem(16px);
            max-width: utils.pxToRem(600px);
            margin: utils.pxToRem(20px) 0;
            font-weight: normal;
        }
    }
    
}