// styles/Navbar.module.scss

.navbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &-list {
      list-style: none;
      display: flex;
      gap: 20px;
    }
    
    &-item {
      padding: 5px 10px;
    }
    
    &-link {
      color: white;
      text-decoration: none;
      font-weight: bold;
    
      &:hover {
        text-decoration: underline;
      }
  }
  }
  
  