@use "src/styles/utils" as utils;

.sizes {
  margin-bottom: utils.pxToRem(20px);

  p {
    margin-bottom: utils.pxToRem(10px);
    font-size: utils.pxToRem(16px);
    opacity: 60%;
  }

  &__options {
    display: flex;
    gap: utils.pxToRem(10px);

    @include utils.media-xs(){
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
  }

  &__button {
    &.selected {
      background: #000;
      color: #fff;
    }
  }
}
