@use 'src/styles/utils';

.banner {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: utils.pxToRem(38px);
    font-size: utils.pxToRem(14px);
    position: relative;

    p {
        margin: 0;
        text-align: center;
        flex-grow: 1;
    }

    .signup {
        color: white;
        font-size: utils.pxToRem(16px);
        text-underline-offset: utils.pxToRem(5px);
    }

    svg {
        position: absolute;
        right: 0;
        cursor: pointer;
        width: utils.pxToRem(20px);
        height: utils.pxToRem(20px);
    }
}
