@use "src/styles/utils" as utils;

.zoomed {
  border-radius: utils.pxToRem(20px);
  background: #fff;
  width: utils.pxToRem(444px);
  height: utils.pxToRem(530px);
  overflow: hidden;
  position: absolute;
  z-index: 100;
  top: 0;
  left: utils.pxToRem(454px);

  &__image {
    display: block;
  }

  @include utils.media-ltlg(){
    top: utils.pxToRem(550px);
    left: 0;
  }
  @include utils.media-xs(){
    width: utils.pxToRem(340px);
    height: utils.pxToRem(300px);
    top: utils.pxToRem(320px);
    left: 0;
  }
}
