@use '@/styles/utils' as utils;

.products {
    display: grid;
    grid-template-areas:
        "filters products";
    gap: utils.pxToRem(8px);
    @include utils.container();

    .filterToggleButton {
        display: none;
        @include utils.media-ltlg() {
            display: block;
            padding: 0.5rem 1rem;
            background-color: #f0f0f0;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }

    &__filters {
        grid-area: filters;
        max-width: max-content;

        @include utils.media-ltlg() {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: #fff;
            z-index: 1000;
            transition: left 0.3s ease-in-out;
            overflow-y: auto;
        }

        &.filtersOpen {
            @include utils.media-ltlg() {
                left: 0;
            }
        }
    }

    &__cards {
        grid-area: products;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: utils.pxToRem(60px);
        &__product {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-items: center;
            gap: utils.pxToRem(26px);
            width: max-content;

            @include utils.media-lg() {
                grid-template-columns: repeat(2, 1fr);
            }
            @include utils.media-ltlg() {
                grid-template-columns: repeat(2, 1fr);
            }
            @include utils.media-xs() {
                display: flex;
                flex-direction: column;
            }
        }
    }

    @include utils.media-ltlg() {
        grid-template-areas: "products";
        grid-template-columns: 1fr;
    }
}