@use "src/styles/utils" as utils;

.thumbnails {
    display: flex;
    gap: utils.pxToRem(10px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: min-content;

    @include utils.media-ltlg(){
        flex-wrap: nowrap;
    }

    @include utils.media-xs(){
        gap: utils.pxToRem(5px);
    }
}