$breakpoints: (
    xs: 376px,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1440px,
);

$container-max-widths: (
    xs: 344px,
    sm: 512px,
    md: 688px,
    lg: 928px,
    xl: 1288px
);

$gutters: (
    xs: 6px,
    sm: 10px,
    md: 20px,
    lg: 14px,
    xl: 14px
);

$margins: (
    xs: 16px,
    sm: 16px,
    md: 10px,
    lg: 10px,
    xl: 10px
);

$columns: (
    xs: 4,
    sm: 4,
    md: 6,
    lg: 12,
    xl: 12
);

@mixin container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: map-get($breakpoints, xs)) and (max-width: (map-get($breakpoints, sm) - 1px)) {
        max-width: map-get($container-max-widths, xs);
    }

    @media (min-width: map-get($breakpoints, sm)) and (max-width: (map-get($breakpoints, md) - 1px)) {
        max-width: map-get($container-max-widths, sm);
    }

    @media (min-width: map-get($breakpoints, md)) and (max-width: (map-get($breakpoints, lg) - 1px)) {
        max-width: map-get($container-max-widths, md);
    }

    @media (min-width: map-get($breakpoints, lg)) and (max-width: (map-get($breakpoints, xl) - 1px)) {
        max-width: map-get($container-max-widths, lg);
    }

    @media (min-width: map-get($breakpoints, xl)) {
        max-width: map-get($container-max-widths, xl);
    }
}

@mixin row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-0.5 * map-get($gutters, xs));
    margin-left: calc(-0.5 * map-get($gutters, xs));

    @if map-get($gutters, xs) != 0 {
        margin-top: calc(-1 * map-get($gutters, xs));
    }

    @media (min-width: map-get($breakpoints, sm)) {
        margin-right: calc(-0.5 * map-get($gutters, sm));
        margin-left: calc(-0.5 * map-get($gutters, sm));
    }

    @media (min-width: map-get($breakpoints, md)) {
        margin-right: calc(-0.5 * map-get($gutters, md));
        margin-left: calc(-0.5 * map-get($gutters, md));
    }

    @media (min-width: map-get($breakpoints, lg)) {
        margin-right: calc(-0.5 * map-get($gutters, lg));
        margin-left: calc(-0.5 * map-get($gutters, lg));
    }

    @media (min-width: map-get($breakpoints, xl)) {
        margin-right: calc(-0.5 * map-get($gutters, xl));
        margin-left: calc(-0.5 * map-get($gutters, xl));
    }
}

@mixin col($cols: null) {
    @if $cols == "auto" {
        flex: 0 0 auto;
        width: auto;
    } @else if $cols {
        $col-width: calc(100% / 12 * $cols);
        flex: 0 0 #{$col-width};
        max-width: #{$col-width};
    } @else {
        flex: 1 0 0%;
        max-width: 100%;
    }
}

@mixin col-xs($cols: null) {
    @media (min-width: map-get($breakpoints, xs)) and (max-width: (map-get($breakpoints, sm) - 1px)) {
        @include col($cols);
    }
}

@mixin col-sm($cols: null) {
    @media (min-width: map-get($breakpoints, sm)) and (max-width: (map-get($breakpoints, md) - 1px)) {
        @include col($cols);
    }
}

@mixin col-md($cols: null) {
    @media (min-width: map-get($breakpoints, md)) and (max-width: (map-get($breakpoints, lg) - 1px)) {
        @include col($cols);
    }
}

@mixin col-lg($cols: null) {
    @media (min-width: map-get($breakpoints, lg)) and (max-width: (map-get($breakpoints, xl) - 1px)) {
        @include col($cols);
    }
}

@mixin col-xl($cols: null) {
    @media (min-width: map-get($breakpoints, xl)) {
        @include col($cols);
    }
}

@mixin row-cols($cols: null) {
    & > * {
        @if $cols == "auto" {
            flex: 0 0 auto;
            width: auto;
        } @else if $cols {
            width: calc(100% / #{$cols});
        } @else {
            flex: 1 0 0%;
            max-width: 100%;
        }
    }
}

@mixin row-cols-xs($cols: null) {
    @media (min-width: map-get($breakpoints, xs)) and (max-width: (map-get($breakpoints, sm) - 1px)) {
        @include row-cols($cols);
    }
}

@mixin row-cols-sm($cols: null) {
    @media (min-width: map-get($breakpoints, sm)) and (max-width: (map-get($breakpoints, md) - 1px)) {
        @include row-cols($cols);
    }
}

@mixin row-cols-md($cols: null) {
    @media (min-width: map-get($breakpoints, md)) and (max-width: (map-get($breakpoints, lg) - 1px)) {
        @include row-cols($cols);
    }
}

@mixin row-cols-lg($cols: null) {
    @media (min-width: map-get($breakpoints, lg)) and (max-width: (map-get($breakpoints, xl) - 1px)) {
        @include row-cols($cols);
    }
}

@mixin row-cols-xl($cols: null) {
    @media (min-width: map-get($breakpoints, xl)) {
        @include row-cols($cols);
    }
}

